.dashboardContainer {
  display: flex;
  width: 100%;
}
.activityList {
  width: 60%;
}
.activityFilters {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin-left: 1rem;
}
@media screen and (max-width: 650px) {
  .dashboardContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .activityList {
    width: 100%;
    margin-top: 5rem;
  }
  .activityFilters {
    width: 100%;
    margin-left: 0;
  }
}
