.activityDetailContainer {
  width: 100%;
  display: flex;
}
.activityDetailInfo{
  width: 59%;
  margin-right: 2rem;
}
.activityDetailSidebar{
  width: 39%;
}
@media screen and (max-width:950px) {
  .activityDetailContainer{
    flex-wrap: wrap;
  }
  .activityDetailInfo{
    width: 100%;
  }
  .activityDetailSidebar{
    width: 100%;
  }
}
@media screen and (max-width:850px) {
  .activityDetailInfo{
    margin-right: 0;
  }
}