.activityForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: var(--color-white);
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 25px #888888;
}
.activityForm h3{
  width: 80%;
  font-family: var(--font-family);
  color: teal;
  text-align: left;
}
.activityFormButtons{
    width: 100%;
    margin: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: flex-end;
}
.activityFormButtons button{
    width: 5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    font-family: var(--font-family);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.activityFormButtons button:hover{
    width: 5.2rem;
    height: 2.7rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.submitButton{
    background-color: var(--button-green) ;
    font-weight: 500;
}
.submitButtonLoading{
  background-color: var(--button-green) ;
  font-size: 0.8rem !important;
}
.cancelButton{
    background-color: darkgray;
}

@media screen and (max-width: 1300px) {
    .activityForm {
      width: 80%;
    }
  }
  @media screen and (max-width: 900px) {
    .activityForm {
      width: 100%;
    }
  }
