.navbarContainer {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 138, 238, 1) 15%,
    rgba(7, 181, 217, 1) 100%
  );
  min-width: 100%;
  height: 4rem;
}
.navbarContent {
  height: inherit;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  color: white;
  font-family: var(--font-family);
}
.navbarDesktopLinks {
  display: block;
  margin-left: 2rem;
}
.navbarDesktopLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.navbarDesktopLinks button {
  border: none;
  outline: none;
  background-color: green;
  width: 10rem;
  height: 2.2rem;
  border-radius: 2.2rem;
  color: white;
  font-family: var(--font-family);
  font-size: 1rem;
}
.navbarDesktopLinks button:hover {
  background-color: purple;
  cursor: pointer;
}

/* Mobile design */
.navbarMobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.menuButton {
  border: none;
  outline: none;
  background-color: green;
  width: 6rem;
  height: 2.2rem;
  border-radius: 2.2rem;
  color: white;
  font-family: var(--font-family);
  font-size: 1rem;
}
.navbarMobileLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  top: 4rem;
  background-color: rgba(7, 181, 217, 1);
  width: 10rem;
  height: 10rem;
}
.navbarMobileLinks a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
}
.activityMobileButton {
  border: none;
  outline: none;
  background-color: green;
  width: 8rem;
  height: 2.2rem;
  border-radius: 2.2rem;
  color: white;
  font-family: var(--font-family);
  font-size: 0.85rem;
}

@media screen and (max-width: 850px) {
  .navbarContent {
    justify-content: space-between;
  }
  .navbarDesktopLinks {
    display: none;
  }
  .navbarMobileContainer {
    display: flex;
  }
}
